#grid_cadastro > thead > tr th:nth-child(2) {
    width: 130px;
    text-align: center;
}

#grid_cadastro > thead > tr th:nth-child(3) {
    width: 110px;
    text-align: center;
}

#grid_cadastro > thead > tr th:nth-child(4) {
    width: 80px;
    text-align: center;
}

#grid_cadastro > thead > tr th:nth-child(5) {
    width: 200px;
    text-align: center;
}

#cadastro {
    width: 80%;
    margin: 0 auto;
}

#cadastro_cabecalho {
    border-bottom: 1px gray solid;
}

#cadastro_conteudo {
    margin-top: 20px;
}

#cabecalho_grid {
    margin-bottom: 20px;
}

#grid_cadastro > tbody > tr > td:nth-child(1) {
    color: green;
    text-align: left;
}

#grid_cadastro > tbody > tr > td:nth-child(2) {
    color: red;
    text-align: center;
}

#grid_cadastro > tbody > tr > td:nth-child(3) {
    color: black;
    text-align: center;
}
#grid_cadastro > tbody > tr > td:nth-child(4) {
    color: black;
    text-align: center;
}

#grid_cadastro thead tr th span{
    cursor: pointer;
}

